@font-face {
    font-family: 'Inter-Black';
    src: url('/Fonts/static/Inter-Black.ttf'); 
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('/Fonts/static/Inter-Bold.ttf'); 
}

.txtbox {
    color: black;
    font-family: 'Inter-Black';
}

.btn {
    color: white;
    font-family: 'Inter-Bold'
}
